[Unit]
Description=ScoutFS fenced

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s

ExecStart=/usr/libexec/scoutfs-fenced/scoutfs-fenced

[Install]
WantedBy=default.target
