[Unit]
Description=ScoutFS fenced

[Service]
Restart=on-failure
RestartSec=5s
StartLimitBurst=5
ExecStart=/usr/libexec/scoutfs-fenced/scoutfs-fenced

[Install]
WantedBy=default.target
